[user]
	name = tacogips
	email = me@tacogips.me
[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main
[pull]
	rebase = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
[url "https://github.com/"]
	insteadOf = git@github.com:
	insteadOf = ssh://git@github.com/
[credential "https://github.com"]
	helper =
	helper = !f() { test "$1" = get || exit 0; test -n "$GITHUB_TOKEN" || exit 0; echo username=x-access-token; echo "password=$GITHUB_TOKEN"; }; f
[credential "https://gist.github.com"]
	helper =
	helper = !f() { test "$1" = get || exit 0; test -n "$GITHUB_TOKEN" || exit 0; echo username=x-access-token; echo "password=$GITHUB_TOKEN"; }; f
