[user]
	name = tacogips
	email = me@tacogips.me
[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main
[pull]
	rebase = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = Sora
	minus-style = syntax "#1c1014"
	minus-emph-style = syntax bold "#2a1420"
	plus-style = syntax "#0e1c16"
	plus-emph-style = syntax bold "#142c1c"
	hunk-header-style = "#9aa4b8" italic
	hunk-header-decoration-style = "#222838" box
	file-style = "#80c8e0" bold
	file-decoration-style = "#80c8e0" ul
	line-numbers-minus-style = "#c46c78"
	line-numbers-plus-style = "#68b080"
	line-numbers-zero-style = "#364050"
	line-numbers-left-style = "#364050"
	line-numbers-right-style = "#364050"
	commit-decoration-style = "#80c8e0" box
	commit-style = "#d4b878" bold
	blame-palette = "#0e1018" "#14161e" "#171a24" "#1e2430"
[url "https://github.com/"]
	insteadOf = git@github.com:
	insteadOf = ssh://git@github.com/
[credential "https://github.com"]
	helper =
	helper = "!f() { test \"$1\" = get || exit 0; test -n \"$GITHUB_TOKEN\" || exit 0; echo username=x-access-token; echo \"password=$GITHUB_TOKEN\"; }; f"
[credential "https://gist.github.com"]
	helper =
	helper = "!f() { test \"$1\" = get || exit 0; test -n \"$GITHUB_TOKEN\" || exit 0; echo username=x-access-token; echo \"password=$GITHUB_TOKEN\"; }; f"
