tap "tacogips/tap"
tap "tonyxiao/tap"
tap "steipete/tap"
tap "slp/krunkit"
tap "nikitabobko/tap"

brew "tacogips/tap/wrike-gateway"
brew "tacogips/tap/apple-gateway"
brew "tonyxiao/tap/bws"
brew "slp/krunkit/krunkit"
brew "tacogips/tap/ign"
brew "tacogips/tap/kinko"
brew "tacogips/tap/mail-gateway-draft"
brew "tacogips/tap/mail-gateway-reader"
brew "tacogips/tap/mail-gateway-sender"
brew "steipete/tap/peekaboo"
brew "tacogips/tap/x-gateway-reader"
brew "tacogips/tap/x-gateway-writer"

cask "nikitabobko/tap/aerospace"
cask "karabiner-elements"
cask "brave-browser"
cask "tacogips/tap/ccusage-gauge"
cask "tacogips/tap/chilla"
cask "tacogips/tap/riela"
cask "claude"
cask "claude-code@latest"
cask "codex"
cask "codex-app"
cask "cursor"
cask "cursor-cli"
cask "ghostty"
cask "libreoffice"
cask "slack"
cask "google-chrome"
cask "iterm2"
cask "rectangle"
